.hamburger {
    height: 21px;
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin-bottom: 6px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    span.long {
        width: 36px;
    }

}
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 0.6s;
    &.active {
        left: 100%;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        width: 345px;
        left: -100%;
        background-color: $main-color;
        height: 100%;
        position: relative;
        transition: all 0.6s;
        padding-top: 140px;
        padding-left: 40px;
        z-index: 10;
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list {
        list-style-type: none;
        padding-left: 35px;
        & li + li {
            margin-top: 15px;
        }
    }
    &__link {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        &::before {
            content: '';
            position: absolute;
            left: -35px;
            top: 10px;
            width: 15px;
            height: 15px;
            border: 1px solid #000000;
            border-radius: 50%;
        }
        &:hover {
            &::before {
                content: '';
                background-color: #ffffff;
                transition: all 0.4s;
            }
        }
        a {
            color: #ffffff;
        }
    }
    &__social {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        width: 90px;
        display: flex;
        justify-content: space-between;
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(133, 187, 187);
        opacity: 0.5;
    }
}