.promo {
    min-height: 100vh;
    position: relative;
    background: url(../img/main_bg.jpg) no-repeat 0%/cover;
    padding-top: 206px;
    &__title {
        max-width: 532px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 270px;
        align-items: center;
        gap: 44px;
    }
    &__link {
        color: rgb(0, 0, 0);
        font-weight: 700;
        transition: all 0.5s;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
}